[submodule "frame-interpolation"]
	path = frame_interpolation
	url = https://github.com/google-research/frame-interpolation.git
[submodule "noto-emoji"]
	path = noto-emoji
	url = https://github.com/googlefonts/noto-emoji.git
